- @posts.each do |post|
  %article
    .post
      %header
        %h1
          %a{:href => "/#{post['clean_title']}"}= post['title']
        %h2<
          by
          = ' ' + @users[post['author']]['name']
      :smartmd
        #{post['body']}
    .timestamps
      %span.pudate<
        %time{:datetime => "#{post['date_posted'].machine}", :pubdate => true}
          = post['date_posted'].readable
      - if post['date_updated']
        %span.last_updated<
          last updated
          %time{:datetime => "#{post['date_updated'].machine}"}
            = post['date_updated'].readable
