- @posts.each do |post|
  %article
    .post
      %header
        %h1
          %a{:href => "/#{post['clean_title']}"}= post['title']
        %h2<
          by
          = ' ' + @users[post['author']]['name']
      .timestamps
        %span.pudate<
          %time{:datetime => "#{post['date_posted'].machine}", :pubdate => true}
            = ' ' + post['date_posted'].readable
      .markdown
        :smartmd
          #{post['body']}

- if POSTS.size > @posts.size
  #pagination
    - unless lastpage?
      %a{:href => "?page=#{@page+1}"} Older
    - unless firstpage?
      %a{:href => "?page=#{@page-1}"} Newer
