%article
  .post
    %header
      %h1= @post['title']
      %h2<
        by
        = ' ' + @author['name']
      .timestamps<
        %span.pubdate<
          %time{:datetime => "#{@post['date_posted'].machine}", :pubdate => true}<
            = @post['date_posted'].readable
    .markdown
      :smartmd
        #{@post['body']}
